%p#notice= notice

%table
  %thead
    %tr
      %th Players
  %tbody
    - @table.players.each_with_index do |player, i|
      %tr
        %td
          %strong="Player #{ i + 1 }:"
      - player.hands.each_with_index do |hand, i|
        %tr
          %td
          - hand.cards.each do |card|
            %td
              =card.to_s
          %td="-- Score: #{ Blackjack.score(hand) }"
          %td= link_to 'hit', hit_player_path(player, hand: i)
          - if hand.splittable?
            %td= link_to 'split', split_player_path(player)
    %tr
      %td
        %strong="Dealer:"
      %td="[card hidden]"
      %td="#{ @table.dealer_hand.cards.last }"


= link_to 'Edit', edit_table_path(@table)
|
= link_to 'Back', tables_path
