%p#notice= notice

%table
  %thead
    %tr
      %th Players
  %tbody
    - @table.players.each_with_index do |player, i|
      %tr
        %td
          %strong="Player #{ i + 1 }:"
      - player.hands.each do |hand|
        %tr
          %td
          - hand.cards.each do |card|
            %td=card.to_s
          %td="-- Score: #{ Blackjack.score(hand) }"
          - if player.hand == hand
            - Blackjack.legal_actions(hand).each do |action|
              %td= link_to action, controller: 'players', action: action, id: player.id
          - elsif player.turn_complete?
            %td= Blackjack.result(hand, @table.dealer_hand).to_s
    %tr
      %td
        %strong="Dealer:"
      %td= @table.round_complete? ? @table.dealer_hand.cards.first : "[card hidden]"
      - @table.dealer_hand.cards.slice(1..-1).each do |card|
        %td= card.to_s


= link_to 'Edit', edit_table_path(@table)
|
= link_to 'Back', tables_path
