%p#notice= notice

%table
  %thead
    %tr
      %th Players
  %tbody
    - @table.players.each_with_index do |player, i|
      %tr
        %td
          %strong="Player #{ i + 1 }:"
      - player.hands.each do |hand|
        %tr
          %td
          - hand.cards.each do |card|
            %td
              =card.to_s
          %td="-- Score: #{ Blackjack.score(hand) }"
          - Blackjack.legal_actions(hand).each do |action|
            %td= link_to action, controller: 'players', action: action, id: player.id
    %tr
      %td
        %strong="Dealer:"
      %td="[card hidden]"
      %td="#{ @table.dealer_hand.cards.last }"


= link_to 'Edit', edit_table_path(@table)
|
= link_to 'Back', tables_path
